@page "/tasks"
@using BlazorInputFile

<InputFile OnChange="HandleFileSelected" />
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    void HandleFileSelected(IFileListEntry[] files)
    {
    // Do something with the files, e.g., read them
    }
    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
